<form method="post" action="{{ path('col_delete', {'id': col.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ col.id) }}">
    <button class="btn">Delete</button>
</form>
