{% extends 'base.html.twig' %}

{% block title %}Edit Col{% endblock %}

{% block body %}
    <h1>Edit Col</h1>

    {{ include('col/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('col_index') }}">back to list</a>

    {{ include('col/_delete_form.html.twig') }}
{% endblock %}
