{% extends 'base.html.twig' %}

{% block title %}Col index{% endblock %}

{% block body %}
    <h1>Col index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>ColLength</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for col in cols %}
            <tr>
                <td>{{ col.id }}</td>
                <td>{{ col.name }}</td>
                <td>{{ col.type }}</td>
                <td>{{ col.colLength }}</td>
                <td>
                    <a href="{{ path('col_show', {'id': col.id}) }}">show</a>
                    <a href="{{ path('col_edit', {'id': col.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('col_new') }}">Create new</a>
{% endblock %}
