{% extends 'base.html.twig' %}

{% block title %}New Col{% endblock %}

{% block body %}
    <h1>Create new Col</h1>

    {{ include('col/_form.html.twig') }}

    <a href="{{ path('col_index') }}">back to list</a>
{% endblock %}
