{% extends 'base.html.twig' %}

{% block title %}Col{% endblock %}

{% block body %}
    <h1>Col</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ col.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ col.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ col.type }}</td>
            </tr>
            <tr>
                <th>ColLength</th>
                <td>{{ col.colLength }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('col_index') }}">back to list</a>

    <a href="{{ path('col_edit', {'id': col.id}) }}">edit</a>

    {{ include('col/_delete_form.html.twig') }}
{% endblock %}
